[submodule "vendor/gems/columbus"]
	path = vendor/gems/columbus
	url = git://github.com/auser/columbus.git
[submodule "vendor/gems/dnssd"]
	path = vendor/gems/dnssd
	url = git://github.com/technomancy/dnssd.git
[submodule "vendor/gems/sinatra"]
	path = vendor/gems/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "vendor/gems/poolparty"]
	path = vendor/gems/poolparty
	url = git://github.com/auser/poolparty.git
[submodule "vendor/gems/macmap"]
	path = vendor/gems/macmap
	url = git://github.com/auser/macmap.git
[submodule "vendor/gems/dslify"]
	path = vendor/gems/dslify
	url = git://github.com/auser/dslify.git
