New

<form action="/machine_images/" method="post" accept-charset="utf-8" enctype='multipart/form-data'>
  <!-- <p>
    <label for="domain_xml">domain_xml</label><input type="textbox" name="domain_xml">
  </p>
  -->
  <p>
    <label>image file</label>
    <input name='image_file' type="file">
  </p>
  <input type='submit'>
</form>